.craftpip-logo{
	background-image: url('logo-name.svg');
	background-size: contain;
	/*background-color: black;*/
	background-position: center;
	width: 130px;
	display:block;
	height:20px;
}
.spacer15{
	height: 15px;
}
pre{
	padding: 0 !important;
}
.well, code, pre{
	background: #f4f4f4 !important;
}
.well pre, .well code{
	background: #fff !important;
}
.btn-download{
	background: #eee;
	border:solid 1px #ddd;
	color: #555;
}
.btn-download:hover{
	background: #ddd;
}